@mixin color-animation($animation) {
        animation: $animation;
        animation-duration: 1s;
        animation-fill-mode: forwards;
}

all-projects {
        display: none;
        position: absolute;
        left: 0em;
        right: 0em;
        bottom: 0;
        z-index: 1;
        width: 100%;
        height: calc(100% - 55px);
        overflow-x: hidden;
        overflow-y: hidden;
        padding: 0 2em;
        .project-info {
                background-color: rgba(0, 0, 0, 0.1);
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: -50%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                a {
                        &:first-child {
                                font-size: 1.6em;
                                font-weight: 500;
                        }
                        max-width: 50%;
                        position: relative;
                        font-size: 3em;
                        color: white;
                        padding-left: 100px;
                        font-weight: 900;
                        animation: title-fade;
                        animation-duration: 1s;
                        animation-fill-mode: forwards;
                }
        }
        .media {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate3d(-50%, -50%, 0);
                min-width: 100%;
                min-height: 100%;
        }
        nav {
                overflow-y: scroll;
                height: 100%;
                right: -100%;
                div {
                        .number {}
                }
        }
}

@media screen and (min-width: 900px) {
        all-projects {
                display: block;
                left: 2em;
                right: 2em;
                height: calc(100% - 87px);
                width: calc(100% - 4em);
                .media {
                        transform: translate3d(-50%, -50%, 0);
                        width: 100%;
                }
                nav {
                        position: absolute;
                        animation: slide-right;
                        animation-delay: .5s;
                        animation-duration: 1s;
                        animation-fill-mode: forwards;
                        width: 30%;
                        min-width: 320px;
                        height: 100%;
                        .bar {
                                position: relative;
                                min-width: 60px;
                                height: 100%;
                                background-color: rgba(101, 135, 47, 0.7);
                                &.hea {
                                        background-color: rgba(101, 135, 47, 0.7);
                                }
                                &.adi {
                                        background-color: rgba(47, 189, 187, 0.7);
                                }
                                &.man {
                                        background-color: rgba(193, 192, 198, 0.7);
                                }
                                &.hua {
                                        background-color: rgba(13, 61, 128, 0.7);
                                }
                                &.vab {
                                        background-color: rgba(164, 134, 178, 0.7);
                                }
                                &.vtt {
                                        background-color: rgba(178, 171, 186, 0.7);
                                }
                                &.ibe {
                                        background-color: rgba(156, 177, 126, 0.7);
                                }
                                &.wea {
                                        background-color: rgba(112, 135, 219, 0.7);
                                }
                                &.camper {
                                        background-color: rgba(245, 16, 36, 0.7);
                                }
                                &.samsung {
                                        background-color: rgba(17, 47, 172, 0.7);
                                }
                        }
                        .content {
                                z-index: 2;
                                position: absolute;
                                top: 0;
                                left: 60px;
                                right: 0;
                                bottom: 0;
                                display: flex;
                                background-color: #f8f8f8;
                        }
                        .projects-wrapper {
                                position: absolute;
                                top: 0;
                                left: 0;
                                right: 0;
                                bottom: 0;
                                display: flex;
                                overflow: scroll;
                                .projects {
                                        margin: auto 0;
                                        width: 100%;
                                        position: relative;
                                        z-index: 2;
                                        div {
                                                a {
                                                        display: flex;
                                                        height: 60px;
                                                        &:not(.year) {
                                                                cursor: pointer;
                                                        }
                                                        &:hover:not(.year) {
                                                                .number {
                                                                        background-color: black;
                                                                }
                                                                .text {
                                                                        background-color: #f1f1f1;
                                                                }
                                                        }
                                                        &.year {
                                                                .number {
                                                                        font-weight: 700;
                                                                }
                                                        }
                                                        .number {
                                                                min-width: 60px;
                                                                color: white;
                                                                display: flex;
                                                                justify-content: center;
                                                                align-items: center;
                                                        }
                                                        .text {
                                                                width: 100%;
                                                                display: flex;
                                                                align-items: center;
                                                                padding-left: 5%;
                                                                font-size: 1.1em;
                                                        }
                                                }
                                        }
                                }
                        }
                }
        }
}

@media screen and (min-width: 1500px) {
        all-projects {
        .project-info {
            a {
              font-size: 3.5em;

              &:first-child {
              font-size: 2.1em;
              }
            }
          }
        }
}
