<div class="media-wrapper">
    <img ng-if="vm.project.thumb !== 'assets/projects/vida-ahora-webapp/1.png'" class="media" ng-src="{{vm.project.thumb}}">
    <video ng-if="vm.project.thumb === 'assets/projects/vida-ahora-webapp/1.png'" class="media" autoplay src="assets/projects/vida-ahora-webapp/video.f4v">
    </video>
    <div class="project-info">
        <a ng-href="{{vm.project.link}}">{{vm.project.title}} <i class="i-view"></i></a>
        <a ng-href="{{vm.project.link}}">{{vm.project.subtitle}}</a>
    </div>
</div>
<nav ng-init="vm.project = vm.projects[0];">
    <div ng-class="vm.project.class" class="bar"></div>
    <div class="content"></div>
    <div class="projects-wrapper">
        <div class="projects">
            <div ng-repeat="project in vm.projects">
                <a ng-mouseover="$parent.vm.project = project" href="{{project.link}}">
                    <div class="number">0{{$index + 1}}</div>
                    <div class="text">{{project.title}}</div>
                </a>
            </div>
        </div>
    </div>
</nav>
