.about {
        * {
                transition: all .3s;
        }
        header {
                background-color: rgb(255,233,73);
                height: 150px;
                display: flex;
                justify-content: center;
                padding-top: 30px;
                font-size: 1.6em;
                font-weight: 900;
                span {
                        z-index: 1;
                }
        }
        section {
                position: relative;
                width: 70%;
                margin: auto;
                top: -50px;
                img {
                        display: block;
                        width: 100%;
                }
                .text {
                        opacity: 0;
                        top: 100px;
                        animation: text-fade-in;
                        animation-duration: 1s;
                        animation-fill-mode: forwards;
                }
                p {
                        font-weight: 400;
                        color: #4a4a4a;
                        font-size: 1.1em;
                        line-height: 1.5em;
                }
        }
        div.cv a {
                margin-top: 20px;
                margin-bottom: 20px;
                padding: 5px 10px;
                font-size: 1em;
                background: black;
                color: white;
                display: inline-block;
        }
        footer {
                position: absolute;
                bottom: -70px;
                text-align: center;
                width: 100%;
                padding: 1em;
        }
        .social {
                display: inline;
                width: 35px;
                margin: 20px 5px 20px 0px;
        }
        .field {
                margin-top: 20px;
        }
        @media screen and (min-width: 700px) {
                header {
                        margin: 0 .9em;
                        align-items: center;
                        justify-content: flex-start;
                        font-size: 2.5em;
                        span {
                                position: relative;
                                left: 35vw;
                        }
                }
                section {
                        position: absolute;
                        top: 92px;
                        width: 100%;
                        margin: 0 2em;
                        img {
                                width: 30vw;
                                display: inline;
                        }
                        .text {
                                position: absolute;
                                top: 150px;
                                left: 30vw;
                                margin-left: 5vw;
                                max-width: 40vw;
                        }
                        p {
                          font-weight: 100;
                        }
                }
                footer {}
        }
}
