<content class="project">
    <nav class="project-nav">
        <a href="#/projects">Close</a>
        <a class="name" href="">Camper</a>
        <a ng-click="showinfo = showinfo ? false : true" href="">
            <strong ng-class="{'rotated' : showinfo}">+</strong>Project info</a>
    </nav>
    <div ng-if="showinfo" class="info-wrapper">
        <section class="info">
            <article>
                <div class="tag">The idea</div>
                <p>The shoe’s company Camper was looking several applications to use as selling tools. Three types of applications
                    agreed upon: One for the stores, one to be used by the brand’s commercials and a last one for online
                    shopping directed to customers. The design should follow the creative line already developed by Camper.
                </p>
            </article>
            <article>
                <div class="tag">The solution</div>
                <p>
                    With black and red as the main colors, we developed a minimalistic aesthetic and a very easy user experience in order to
                    highlight the content of the three apps:Camper Stores: An application for Ipad directed to Camper Stores
                    worldwide. It enables customers to place orders from beginning to end with salesman help. Camper Sales:
                    This app designed for the brand’s commercials allows products, prices, customers and news to be synchronized
                    anytime. Camper App: Camper’s e-commerce application is available on Google Play and App Store.
                </p>
            </article>
        </section>
        <div class="divider">
            <div class="brand">Camper</div>
            <div class="year">Year: 2017</div>
            <div class="role">Role: Art Direction, UX/UI</div>
        </div>
    </div>
    <content class="media">
        <img class="l" src="assets/projects/camper/1.png">
        <img class="m" src="assets/projects/camper/2.gif">
        <img class="m" src="assets/projects/camper/3.gif">
        <img class="m" src="assets/projects/camper/4.png">
        <img class="m" src="assets/projects/camper/5.png">
        <img class="l" src="assets/projects/camper/6.png">
    </content>
    <footer>
        <a href="#/projects/manual">Previous project</a>
        <a href="#/projects/iberia">Next project</a>
    </footer>
</content>