<content class="project">
    <nav class="project-nav">
        <a href="#/projects">Close</a>
        <a class="name" href="">E-ADITIVOS</a>
        <a ng-click="showinfo = showinfo ? false : true" href="">
            <strong ng-class="{'rotated' : showinfo}">+</strong>Project info</a>
    </nav>
    <div ng-if="showinfo" class="info-wrapper">
        <section class="info">
            <article>
                <div class="tag">The idea</div>
                <p>There are thousands of “unauthorized” food additives. Some of them are used illegally in countries with few
                    UE controls. Additives are one of the most unknown topics in the food industry, therefore consumers are
                    worried about their nutrition sources. </p>
            </article>
            <article>
                <div class="tag">The solution</div>
                <p>
                    <a target="_blank" href="http://e-aditivos.com/ ">E-aditivos</a> is a comprehensive and interactive guide. All additives are classified by their E number.
                    Users can check its source (chemical, vegetable or animal), its level of health risk and the purpose
                    which they were made for. In addition there is a list with vegetarian additives for these consumers in
                    particular. We made an infinite scroll website with representative icons for each type. The site has
                    bold colors and contrast to emphasize the chemical industry and to catch the user’s eye. This is an original
                    idea of Ignacio Lago which was very well welcomed by consumers with positive feedback. You can download
                    the app version now in
                    <a target="_blank" href="https://play.google.com/store/apps/details?id=com.talkingcherry.eaditivosapp">Google Play</a> to carry this list with you everywhere.
                </p>
            </article>
        </section>
        <div class="divider">
            <div class="brand">Brand: E-aditivos</div>
            <div class="year">Year: 2014</div>
            <div class="role">Role: Art Direction, UX/UI</div>
        </div>
    </div>
    <content class="media">
        <img class="l" src="assets/projects/e-aditivos/1.png">
        <img class="m" src="assets/projects/e-aditivos/2.png">
        <img class="m" src="assets/projects/e-aditivos/3.png">
        <img class="m" src="assets/projects/e-aditivos/4.gif">
        <img class="m" src="assets/projects/e-aditivos/5.png">
        <img class="l" src="assets/projects/e-aditivos/6.png">
    </content>
    <footer>
        <a href="#/projects/manual">Previous project</a>
        <a href="#/projects/iberia">Next project</a>
    </footer>
</content>