<content class="project">
  <nav class="project-nav">
    <a href="#/projects">Close</a>
    <a class="name" href="">Hearthy</a>
    <a ng-click="showinfo = showinfo ? false : true" href=""><strong ng-class="{'rotated' : showinfo}">+</strong>Project info</a>
  </nav>
  <div ng-if="showinfo" class="info-wrapper">
    <section class="info">
      <article>
        <div class="tag">The idea</div>
        <p>Applying new technologies like mobile devices in the healthcare industry can improve productivity and increase information access and communication. Patients can handle their medication easily, specially the ones with chronic conditions. It’s also a great way to generate population health data. A mobile health system helps developing countries by providing affordable healthcare.
        </p>
      </article>
      <article>
        <div class="tag">The solution</div>
        <p>“Hearthy” is a mobile health system aimed to give reliable and universal healthcare. It is composed by an extensive app and medical webapp. There are four areas available: consultations, clinical history, balance and treatments. “Hearthy” provides means for physicians to physically examine a patient remotely via teleconference or chat. The app sends messages with instructions and reminders about the medication orders. “Hearthy” is designed with bright colors and an easy interaction to allow everybody to use this service.
        </p>
      </article>
    </section>
    <div class="divider">
      <div class="brand">Brand: Hearhty m-health</div>
      <div class="year">Year: 2014</div>
      <div class="role">Role: Graphic design, UX/UI</div>
    </div>
  </div>
  <content class="media">
    <img class="l" src="assets/projects/hearty/1.png">
    <img class="m" src="assets/projects/hearty/2.png">
    <img class="m" src="assets/projects/hearty/3.png">
    <img class="l" src="assets/projects/hearty/4.png">
    <img class="m" src="assets/projects/hearty/5.png">
    <img class="m" src="assets/projects/hearty/6.png">
  </content>
  <footer>
    <a href="#/projects/vigo-timetravel">Previous project</a>
    <a href="#/projects/huarte">Next project</a>
  </footer>
</content>
