<content class="project">
    <nav class="project-nav">
        <a href="#/projects">Close</a>
        <a class="name" href="">Huarte International</a>
        <a ng-click="showinfo = showinfo ? false : true" href=""><strong ng-class="{'rotated' : showinfo}">+</strong>Project info</a>
    </nav>
    <div ng-if="showinfo" class="info-wrapper">
        <section class="info">
            <article>
                <div class="tag">The idea</div>
                <p> <a target="_blank" href="http://huarte.eu/en/ "> Huarte International </a> is a law firm based in Vigo, Spain. It was founded with the aim of becoming a leading law firm of reference within the areas of Spanish, European and International Law. The project was to create the identity + branding + web design to show its qualities and services.
                </p>
            </article>
            <article>
                <div class="tag">The solution</div>
                <p>Driven by concepts of simplicity and elegance, we developed a classic, yet modern identity that would accurately show the purpose of the brand. The symbol itself is a geometric “H” shaped as a column which represents soundness and justice. A combination of raw blue and white highlights the specialization in maritime, fisheries and transportation law along other working areas. The web design mix super clean shapes with professional photographies along easy reading texts.
                </p>
            </article>
        </section>
        <div class="divider">
            <div class="brand">Brand: Huarte International</div>
            <div class="year">Year: 2015</div>
            <div class="role">Role: Identity, branding, art direction</div>
        </div>
    </div>
    <content class="media">
        <img class="l" src="assets/projects/huarte/1.png">
        <img class="m" src="assets/projects/huarte/2.png">
        <img class="m" src="assets/projects/huarte/3.png">
        <img class="m" src="assets/projects/huarte/4.png">
        <img class="m" src="assets/projects/huarte/5.png">
        <img class="l" src="assets/projects/huarte/6.png">
        <img class="m" src="assets/projects/huarte/7.png">
        <img class="m" src="assets/projects/huarte/8.png">
    </content>
    <footer>
        <a href="#/projects/hearty">Previous project</a>
        <a href="#/projects/manual">Next project</a>
    </footer>
</content>
