<content class="project">
  <nav class="project-nav">
    <a href="#/projects">Close</a>
    <a class="name" href="">Iberia Express</a>
    <a ng-click="showinfo = showinfo ? false : true" href=""><strong ng-class="{'rotated' : showinfo}">+</strong>Project info</a>
  </nav>
  <div ng-if="showinfo" class="info-wrapper">
    <section class="info">
      <article>
        <div class="tag">The idea</div>
        <p>Immfly working along with Iberia Express contacted me with a beautiful project: an illustration that represented the city of Vigo for the inflight magazine of the airline.
        </p>
      </article>
      <article>
        <div class="tag">The solution</div>
        <p>Vigo has grown gradually from a small fishing village to the most populated city in Galicia. Nowadays the town preserves part of the old architecture with small facades next to the galician estuary. Vigo is also called “Olive city” due to its history related with this tree. The illustration combines traditional and modern buildings all together which is distinctive of the city.
        </p>
      </article>
    </section>
    <div class="divider">
      <div class="brand">Brand: Iberia Express</div>
      <div class="year">Year: 2015</div>
      <div class="role">Role: Illustration</div>
    </div>
  </div>
  <content class="media">
    <img class="l" src="assets/projects/iberia/1.png">
    <img class="m" src="assets/projects/iberia/2.png">
    <img class="m" src="assets/projects/iberia/3.png">
    <img class="l" src="assets/projects/iberia/4.png">
  </content>
  <footer>
    <a href="#/projects/e-aditivos">Previous project</a>
  </footer>
</content>
