<content class="project">
  <nav class="project-nav">
    <a href="#/projects">Close</a>
    <a class="name" href="">EDITORIAL DESIGN HANDBOOK</a>
    <a ng-click="showinfo = showinfo ? false : true" href=""><strong ng-class="{'rotated' : showinfo}">+</strong>Project info</a>
  </nav>
  <div ng-if="showinfo" class="info-wrapper">
    <section class="info">
      <article>
        <div class="tag">The idea</div>
        <p>In the last year of University I was facing my Degree Final Project. After spending 4 years studying Advertising and Public Relations I was pretty sure about focusing my career in the design area. Back then I was digging into editorial design and falling in love with it. Thus, I chose to learn more about this field beside making something as beautiful as useful. There are thousands of books teaching about specific aspects of editorial design but few talking about its general principles. My decision was to make a handbook so readers can make an editorial design product successfully.
        </p>
      </article>
      <article>
        <div class="tag">The solution</div>
        <p>This personal project is an exhaustive guide to dig into the editorial design world. It consists of 127 pages with 30 chapters divided in 4 great sections: typography, composition and visual development, types/finishes and printing. The book follows the process of any editorial project: from the choice of layout and typography to getting the product ready for printing. The handbook includes an extensive glossary, graphic elements along with a careful selection of bibliography.
        </p>
      </article>
    </section>
    <div class="divider">
      <div class="brand">Brand: Editorial Manual Design</div>
      <div class="year">Year: 2015</div>
      <div class="role">Role: Author, Editorial design, contents</div>
    </div>
  </div>
  <content class="media">
    <img class="l" src="assets/projects/manual/1.png">
    <img class="m" src="assets/projects/manual/2.png">
    <img class="m" src="assets/projects/manual/3.png">
    <img class="m" src="assets/projects/manual/4.gif">
    <img class="m" src="assets/projects/manual/5.png">
    <img class="l" src="assets/projects/manual/6.png">
  </content>
  <footer>
    <a href="#/projects/huarte">Previous project</a>
    <a href="#/projects/e-aditivos">Next project</a>
  </footer>
</content>
