<content class="project">
    <nav class="project-nav">
        <a href="#/projects">Close</a>
        <a class="name" href="">PANTONE PORTUGAL</a>
        <a ng-click="showinfo = showinfo ? false : true" href="">
            <strong ng-class="{'rotated' : showinfo}">+</strong>Project info</a>
    </nav>
    <div ng-if="showinfo" class="info-wrapper">
        <section class="info">
            <article>
                <div class="tag">The idea</div>
                <p>In the design area any source can be useful to create something new. Sometimes, we are too focused on getting
                    inspiration from things on the internet, other designer’s projects or by a short brainstorming. Each
                    artist has its own creative process but looking for inspiration out of the comfort zone can help in some
                    cases. I started this project or visual experiment with the purpose of creating a colorful collection
                    of photographs to take chromatic palettes from.
                </p>
            </article>
            <article>
                <div class="tag">The solution</div>
                <p>During a short trip around Portugal I took photographs of every colorful spot I found from north to south.
                    After putting all the images together the result looked closer to a chromatic representation of a country.
                    For each photograph I extracted a color palette with what I think were the predominant four tones along
                    with their Pantone coding. The design of the book itself is based on a simple grid composed by photographs.
                    It includes a short introduction of the project in the beginning. The general white aspect tries to highlight
                    the colors. The book is made in two different paper types, coptic biding and a hardcover with a window
                    in the middle.
                </p>
            </article>
        </section>
        <div class="divider">
            <div class="brand">Brand: Pantone Portugal </div>
            <div class="year">Year: 2018</div>
            <div class="role">Role: Author, photography, editorial design</div>
        </div>
    </div>
    <content class="media">
        <img class="l" src="assets/projects/pantone/1.png">
        <img class="m" src="assets/projects/pantone/2.gif">
        <img class="m" src="assets/projects/pantone/3.png">
        <img class="m" src="assets/projects/pantone/4.png">
        <img class="m" src="assets/projects/pantone/5.png">
        <img class="l" src="assets/projects/pantone/6.png">
        <img class="m" src="assets/projects/pantone/7.png">
        <img class="m" src="assets/projects/pantone/8.png">
        <img class="m" src="assets/projects/pantone/9.png">
        <img class="m" src="assets/projects/pantone/10.png">
    </content>
    <footer>
        <a ng-href=""></a>
        <a ng-href="#/projects/trebo">Next project</a>
    </footer>
</content>