<content class="project">
    <nav class="project-nav">
        <a href="#/projects">Close</a>
        <a class="name" href="">SAMSUNG</a>
        <a ng-click="showinfo = showinfo ? false : true" href="">
            <strong ng-class="{'rotated' : showinfo}">+</strong>Project info</a>
    </nav>
    <div ng-if="showinfo" class="info-wrapper">
        <section class="info">
            <article>
                <div class="tag">The idea</div>
                <p>In current times in which advertising goes beyond conventional media, Samsung wanted to show the benefits
                    of its Galaxy mobile devices through an in-store experience. The project consisted in proposing the concept
                    and developing it from scratch. A remote control customer experience was the winner idea. Thus users
                    could know the benefits of each device and accessories related to them.
                </p>
            </article>
            <article>
                <div class="tag">The solution</div>
                <p>The customer can control the content shown in the store TV through any of the Galaxy mobile devices in display.
                    The app created for mobile shows two very easy menus to interact with and other additional information.
                    The main menu gathers benefits that the user can open to receive detailed information about each of them.
                    The second menu is composed by accessories related to the phone being used by the customer. The creative
                    line is dark, loyal to the minimalistic Samsung aesthetic. Bright blue icons representing all characteristics
                    and great product photographs stand out. Also interaction gestures and subtle animations across the screens
                    play an important role in this project.
                </p>
            </article>
        </section>
        <div class="divider">
            <div class="brand">Brand: SAMSUNG</div>
            <div class="year">Year: 2017</div>
            <div class="role">Role: Art Direction, UX/UI</div>
        </div>
    </div>
    <content class="media">
        <img class="l" src="assets/projects/samsung/1.png">
        <img class="m" src="assets/projects/samsung/2.gif">
        <img class="m" src="assets/projects/samsung/3.gif">
        <img class="m" src="assets/projects/samsung/4.png">
        <img class="m" src="assets/projects/samsung/5.png">
        <img class="l" src="assets/projects/samsung/6.gif">
        <img class="m" src="assets/projects/samsung/7.png">
        <img class="m" src="assets/projects/samsung/8.png">
        <img class="m" src="assets/projects/samsung/9.png">
        <img class="m" src="assets/projects/samsung/10.gif">
    </content>
    <footer>
        <a ng-href="#/projects/weather-app">Previous Project</a>
        <a ng-href="#/projects/vida-ahora-webapp">Next project</a>
    </footer>
</content>