<content class="project">
    <nav class="project-nav">
        <a href="#/projects">Close</a>
        <a class="name" href="">SAMSUNG</a>
        <a ng-click="showinfo = showinfo ? false : true" href="">
            <strong ng-class="{'rotated' : showinfo}">+</strong>Project info</a>
    </nav>
    <div ng-if="showinfo" class="info-wrapper">
        <section class="info">
            <article>
                <div class="tag">The idea</div>
                <p>
                    This weather app was born from the desire of creating a personal project with short dimensions. I wanted to show a brief
                    and direct way to present the basic meteorological data taking care of the visuals. The app limits were
                    bounded to regional level to increase the project personality.
                </p>
            </article>
            <article>
                <div class="tag">The solution</div>
                <p>
                    Trebo has a casual and close nature. Each meteorological status includes a Galician representative expression. Trebo is based
                    on animated characters with a tender and comical style. The app shows several colors. Matching with texts
                    and gifs. Along with Iago Lastra in the development side, we have tried to design an amusing user experience
                    with swipe to share on social networks or tapping and holding to check the temperature features. Trebo
                    is an entertaining way to see the meteorological predictions and empathize with Galician people in something
                    so representative as their weather and sayings. The first version of the app is ready to download from
                    Google Play!
                </p>
            </article>
        </section>
        <div class="divider">
            <div class="brand">Brand: TREBO</div>
            <div class="year">Year: 2017</div>
            <div class="role">Role: Art Direction, UX/UI, Co-founder</div>
        </div>
    </div>
    <content class="media">
        <img class="l" src="assets/projects/trebo/1.png">
        <img class="m" src="assets/projects/trebo/2.gif">
        <img class="m" src="assets/projects/trebo/3.gif">
        <img class="m" src="assets/projects/trebo/4.png">
        <img class="m" src="assets/projects/trebo/5.png">
        <img class="l" src="assets/projects/trebo/6.png">
        <img class="m" src="assets/projects/trebo/7.png">
        <img class="m" src="assets/projects/trebo/8.gif">
        <img class="m" src="assets/projects/trebo/9.png">
        <video class="m" autoplay loop  src="assets/projects/trebo/10.mov"></video>
    </content>
    <footer>
        <a ng-href="#/projects/weather-app">Previous Project</a>
        <a ng-href="#/projects/vida-ahora-webapp">Next project</a>
    </footer>
</content>