<content class="project">
    <nav class="project-nav">
        <a href="#/projects">Close</a>
        <a class="name" href="">Wellness Program</a>
        <a ng-click="showinfo = showinfo ? false : true" href="">
            <strong ng-class="{'rotated' : showinfo}">+</strong>Project info</a>
    </nav>
    <div ng-if="showinfo" class="info-wrapper">
        <section class="info">
            <article>
                <div class="tag">The idea</div>
                <p>
                    Vidahora is a wellness program for companies aimed to build healthy habits among their employees. When its business model
                    started being profitable Vidahora needed a new web platform and a mobile app with a personal expression
                    of trust, innovation and harmony. One of the program’s distinguishing features is the gamification. Both
                    the app and web should track the employee’s progress in the most fun way in order to get their fidelity.
                    The users are able to access their personal programs, challenges and new content every week, they can
                    also check statistics about their own progress, enjoy multiplayer tournaments and other special sport
                    events.
                </p>
            </article>
            <article>
                <div class="tag">The solution</div>
                <p>
                    The UX/UI challenge was huge. Due to the large amount of screens and sections, the wireframing process was the key. One of
                    the final results is
                    <a target="_blank" href="https://itunes.apple.com/es/app/vidahora/id903830056?mt=8 ">the app of Vidahora </a> with an interactive illustrated route where the user can play and scroll. The
                    overall brand's aesthetic is mainly based on affable and oneiric illustrations. We wanted web+app to
                    feel refreshing and easy to use when compared to other programs related with wellness. For the logo we
                    chose a character who goes with you along the way. In this case a lovely bird synonym of migration and
                    freedom. This new identity design attracts users from different age ranges.
                </p>
            </article>
        </section>
        <div class="divider">
            <div class="brand">Brand: Vidahora</div>
            <div class="year">Year: 2016</div>
            <div class="role">Role: Art Direction, UX/UI, Illustration, Motion, Branding</div>
        </div>
    </div>
    <content class="media">
        <img class="l" src="assets/projects/vidahora/1.gif">
        <img class="m" src="assets/projects/vidahora/2.png">
        <img class="m" src="assets/projects/vidahora/3.png">
        <img class="m" src="assets/projects/vidahora/4.gif">
        <img class="m" src="assets/projects/vidahora/5.gif">
        <img class="l" src="assets/projects/vidahora/6.png">
        <img class="m" src="assets/projects/vidahora/7.gif">
        <img class="m" src="assets/projects/vidahora/8.png">
        <img class="m" src="assets/projects/vidahora/9.png">
        <video autoplay loop class="m" src="assets/projects/vidahora/10.mov"></video>
        
        <img class="m" src="assets/projects/vidahora/11.gif">
        <img class="m" src="assets/projects/vidahora/12.png">
    </content>
    <footer>
        <a href="#/projects/vida-ahora-branding">Previous project</a>
        <a href="#/projects/vigo-timetravel">Next project</a>
    </footer>
</content>