<content class="project">
  <nav class="project-nav">
    <a href="#/projects">Close</a>
    <a class="name" href="">Vidahora Branding</a>
    <a ng-click="showinfo = showinfo ? false : true" href=""><strong ng-class="{'rotated' : showinfo}">+</strong>Project info</a>
  </nav>
  <div ng-if="showinfo" class="info-wrapper">
    <section class="info">
      <article>
        <div class="tag">The idea</div>
        <p>With the service´s evolution it was the perfect time to create a more personal expression of Vidahora — a complete wellness program for employees. The goal was to increase user perception of trust, innovation and harmony. An entire new look made up of logo, offline/online communication and corporate web.
        </p>
      </article>
      <article>
        <div class="tag">The solution</div>
        <p>We wanted to motivate the audience so I created friendly interfaces with amusing illustrations and animations. I made several digital assets that are easily malleable in order for each communication type to have the same cheerful design. For the logo we chose a character who goes with you along the way. In this case a lovely bird synonym of migration and freedom. The new identity design attracts users from different age ranges.
        </p>
      </article>
    </section>
    <div class="divider">
      <div class="brand">Brand: Vidahora</div>
      <div class="year">Year: 2016</div>
      <div class="role">Role: Art Direction, UX/UI, Illustration, Motion, Branding</div>
    </div>
  </div>
  <content class="media">
    <img class="l" src="assets/projects/vida-ahora-branding/6.gif">
    <img class="m" src="assets/projects/vida-ahora-branding/2.png">
    <img class="m" src="assets/projects/vida-ahora-branding/3.png">
    <img class="m" src="assets/projects/vida-ahora-branding/4.png">
    <img class="m" src="assets/projects/vida-ahora-branding/5.png">
    <img class="l" src="assets/projects/vida-ahora-branding/1.png">
    <img class="m" src="assets/projects/vida-ahora-branding/8.gif">
    <img class="m" src="assets/projects/vida-ahora-branding/9.png">
    <img class="m" src="assets/projects/vida-ahora-branding/10.png">
    <img class="m" src="assets/projects/vida-ahora-branding/11.png">
  </content>
  <footer>
    <a ng-href="#/projects/weather-app">Previous Project</a>
    <a ng-href="#/projects/vida-ahora-webapp">Next project</a>
  </footer>
</content>
