<content class="project">
    <nav class="project-nav">
        <a href="#/projects">Close</a>
        <a class="name" href="">Wellness Program</a>
        <a ng-click="showinfo = showinfo ? false : true" href=""><strong ng-class="{'rotated' : showinfo}">+</strong>Project info</a>
    </nav>
    <div ng-if="showinfo" class="info-wrapper">
        <section class="info">
            <article>
                <div class="tag">The idea</div>
                <p>“Vidahora” is a wellness program aimed to build healthy habits among employees. When its business model started to generate profits, “Vidahora” needed a new web platform and mobile app working properly. One of the program’s distinguishing features is the gamification. Both the app and web should track the employee’s progress in the most fun way to get loyalty by themselves. The user is able to access his personal program, challenges and new content every week, also they can check statistics about their own progress as enjoying multiplayer tournaments and special sport events.
                </p>
            </article>
            <article>
                <div class="tag">The solution</div>
                <p>The UX/UI challenge was huge. Due to the large amount of screens and sections, the wireframing process was the key. One of the final results is <a target="_blank" href="https://itunes.apple.com/es/app/vidahora/id903830056?mt=8 ">the app of Vidahora </a>with an interactive illustrated route where the user can play and scroll. The overall aesthetic is mainly based on affable and oneiric illustrations. The web platform is also colorful and clean. We want web+app to feel refreshing and easy to use when compared to other programs related with wellness. User can find in “Vidahora”: tests, beautiful calendars, recipes, videos, routes for running and biking along many other features.
                </p>
            </article>
        </section>
        <div class="divider">
            <div class="brand">Brand: Vidahora</div>
            <div class="year">Year: 2016</div>
            <div class="role">Role: Art Direction, UX/UI, Illustration, Motion, Branding</div>
        </div>
    </div>
    <content class="media">
        <img class="l" src="assets/projects/vida-ahora-webapp/1.png">
        <img class="m" src="assets/projects/vida-ahora-webapp/2.gif">
        <img class="m" src="assets/projects/vida-ahora-webapp/3.gif">
        <video autoplay loop class="m" src="assets/projects/vida-ahora-webapp/video.f4v"></video>
        <img class="m" src="assets/projects/vida-ahora-webapp/5.png">
        <image-carousel source="'assets/projects/vida-ahora-webapp/'" images="['c1','c2','c3','c4']"></image-carousel>
        <img class="m" src="assets/projects/vida-ahora-webapp/6.gif">
        <img class="m" src="assets/projects/vida-ahora-webapp/7.png">
    </content>
    <footer>
        <a href="#/projects/vida-ahora-branding">Previous project</a>
        <a href="#/projects/vigo-timetravel">Next project</a>
    </footer>
</content>
