<content class="project">
  <nav class="project-nav">
    <a href="#/projects">Close</a>
    <a class="name" href="">VIGO TIMETRAVEL</a>
    <a ng-click="showinfo = showinfo ? false : true" href=""><strong ng-class="{'rotated' : showinfo}">+</strong>Project info</a>
  </nav>
  <div ng-if="showinfo" class="info-wrapper">
    <section class="info">
      <article>
        <div class="tag">The idea</div>
        <p>For my thesis project I chose to focus in a digital product, an unique and useful app. I was living in Vigo at that time. The city owns a rich photographic file of its interesting past. The idea was to enable the possibility to visualize Vigo’s past and present at the same time. Thus, the app generates a new way to sightseeing as it brings out its architectural history.
        </p>
      </article>
      <article>
        <div class="tag">The solution</div>
        <p>“Vigo Timetravel” is an app’s concept to see Vigo in past decades. This product can be transferable to other cities if they have enough historical information and photographies. “Vigo Timetravel” works with geolocation and electronic compass of mobile devices. No internet is required. The user can choose a decade between 1910 and 1960 and several markers will show up on the map. The tourist or citizen can see all of the files in their action area, old photos of the area and information.
        </p>
      </article>
    </section>
    <div class="divider">
      <div class="brand">Brand: Vigo Timetravel</div>
      <div class="year">Year: 2015</div>
      <div class="role">Role: Owner, art direction, graphic design, UX/UI</div>
    </div>
  </div>
  <content class="media">
    <img class="l" src="assets/projects/vigo-timetravel/1.png">
    <img class="m" src="assets/projects/vigo-timetravel/2.png">
    <img class="m" src="assets/projects/vigo-timetravel/3.png">
    <img class="m" src="assets/projects/vigo-timetravel/4.png">
    <img class="m" src="assets/projects/vigo-timetravel/5.png">
    <img class="l" src="assets/projects/vigo-timetravel/6.png">
    <img class="m" src="assets/projects/vigo-timetravel/7.png">
    <img class="m" src="assets/projects/vigo-timetravel/8.png">
  </content>
  <footer>
    <a href="#/projects/vigo-timetravel">Previous project</a>
    <a href=""></a>
  </footer>
</content>
